
.cerveza{
    display: none;   
    overflow: hidden; 
    margin: 0px; 
    max-width: 186px; 
    max-height: 248px;
}

.container{
    margin-top: 2%;
}

.opfiltro{
    
    min-width: 4%;
     
}


.filtro{
    margin-top: 1%;
    margin-left: 1%;
    text-align: left;
    
}

.spanfiltro{
    
    margin: 1%;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    
}

label{
    font-size: large;
    font-style: italic;
    
}

#comando{
    margin-left: 1%;
    font-size: x-large;
    font-weight: bolder;
    color: cornflowerblue;
    cursor: pointer;
}